body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS devices */
}

a {
  color: black;
  text-decoration: none;
}

  a:hover {
    text-decoration: none; /* Remove underline on hover */
    color: black;
  }

header,
footer {
  display: none;
}

.navbar-brand {
  display: none;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.empty-cell:empty {
  display: none;
}

.calendar-navigation {
  display: flex;
  align-items: stretch;
  padding: 10px;
  justify-content: space-between;
}

.nav-button {
  font-family: inherit;
  font-size: 20px;
  color: #333333;
  background-color: transparent;
  border:transparent 1px solid;
  border-radius:50%;
  cursor: pointer;
  outline: none;
}

.calendar-month-year {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 5px 16px;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}

td:last-child {
  border-bottom-right-radius: 10px;
}

td:not(:first-child) {
  border-left: 1px solid #ddd;
}

td:not(:last-child) {
  border-right: 1px solid #ddd;
}

tr:not(:first-child) td {
  border-top: 1px solid #ddd;
}

tr:not(:last-child) td {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid white;
}

tr:first-child td:last-child {
  border-top-right-radius: 10px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.calendar-table {
  width: 100%;
  border-collapse: collapse;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

  .calendar-table th,
  .calendar-table td {
    color: black;
    background-color: #f9f9f9;
    text-align: left;
    vertical-align: text-bottom;
    padding: 8px;
    height: 12vh; /* Set a fixed height */
    width: 12vw; /* Set a fixed width */
    box-sizing: border-box;
  }

  .calendar-table th {
    font-weight: bold;
    text-align: center;
    background-color: #c2c2c2;
    height: 5vh;
    vertical-align: middle;
  }

.activity-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
  justify-content: flex-start;
  gap: 4px;
}

.activity-tag {
  font-size: 12px;
  font-weight: 600;
  color: black;
  padding: 2px 5px;
  border-radius: 3px;
  width: 100%;
  background: #f8a024;
  cursor: pointer;
}

  .activity-tag:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

.activity-tag-past {
  font-size: 12px;
  font-weight: 600;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  width: 100%;
  background: #c2c2c2;
  cursor: default;
}

.activity-tag.meeting {
  background-color: #4a90e2;
}

.activity-tag.birthday {
  background-color: #f0932b;
}

td.prev-month,
td.next-month {
  background: #e5e4e2;
  border-radius: 0;
  background-color: #dcdcdc;
}

tr:last-child .next-month {
  display: none;
}

.tooltip-content {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
}

  .tooltip-content li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    font-size: 12px;
    border-bottom: 1px solid #e0e0e0;
  }

    .tooltip-content li:last-child {
      border-bottom: none;
    }

.tooltip-time {
  font-weight: bold;
  margin-right: 8px;
}

.tooltip {
  position: absolute;
  display: flex;
  transform: translateY(10px);
  z-index: 1;
  background: white;
}

#prev-month-btn {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0 16px;
  border-radius: 50%;
  background: #DCD6D0;
  color: #808080;
}

#next-month-btn {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0 16px;
  color: #808080;
  border-radius: 50%;
  background: #DCD6D0;
}

#prev-month-btn.nav-button {
  font-weight: bold;
  background: #DCD6D0;
  text-align: center;
  color: #817c7c;
  padding: 5px;
  width: 40px;
}

#next-month-btn.nav-button {
  font-weight: bold;
  background: #DCD6D0;
  text-align: center;
  color: #817c7c;
  width: 40px;
  padding: 5px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* Style the popup */
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

  /* Style the popup elements */
  .popup label,
  .popup select,
  .popup input {
    display: block;
    margin-bottom: 10px;
  }

  .popup select,
  .popup input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .popup button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s, background-color 0.3s; /* Adding transition for smooth effect */
}

  li:hover {
    background-color: #f0f0f0; /* Gold color on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow on hover */
    font-weight: bold;
  }

.selected-tag {
  background-color: #f8a024;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
  }

  .calendar-navigation {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background: #f8a024;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .calendar-container {
    height: 100vh; /* You can set a specific height or use a percentage */
    /*overflow-y: auto;*/ /* Enable vertical scrolling for overflow */
  }

  .calendar-table {
    margin-top: 15px;
  }

  table {
    transform: translateY(40px);
  }

  #prev-month-btn.nav-button {
    position: absolute;
    left: 0;
    padding: 0;
    width: 30px;
    font-weight: bold;
    color: #808080;
  }

  #next-month-btn.nav-button {
    position: absolute;
    right: 0;
    padding: 0;
    font-weight: bold;
    width: 30px;
    color: #808080;
  }

  #prev-month-btn {
    position: absolute;
    margin: 0;
    color: #808080;
    font-weight: bold;
    left: 0;
  }

  #next-month-btn {
    position: absolute;
    margin: 0;
    color: #808080;
    padding-right: 50px;
  }

  td.cell.prev-month,
  td.cell.next-month {
    display: none;
  }

  td:last-child,
  tr:first-child td:last-child,
  tr:last-child td:first-child {
    border-radius: 0;
  }

  .activity-tag-past,
  .activity-tag {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tooltip {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 8px;
    border-radius: 4px;
    z-index: 1;
  }

    .tooltip:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-width: 8px;
      border-style: solid;
      border-color: transparent transparent #ffffff transparent;
    }

  /* .cell*/
  .cell:not(:has(.empty-cells)) {
    position: relative;
    cursor: pointer;
    left: 0;
    top: 0;
    align-items: flex-start;
    margin-top:4px;
    bottom: 0;
    width: 100%;
    display: flex;
    margin: 0;
  }

  td.cell .activity-tags:empty {
    height: 10px;
  }

  td.cell {
    height: 30px;
  }

    td.cell.has-events {
      height: 50px;
    }

  tr td {
    border: 1px solid #c2c2c2;
  }

  .cell:has(.empty-cells) {
    display: none;
  }

  .calendar-table td .empty-cell:empty {
    display: none;
  }

  .calendar-table th,
  .calendar-table td {
    display: none;
  }

    .calendar-table th,
    .calendar-table td .cell .empty-cell:empty {
      display: none;
    }

  .activity-tags {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center; /* Align children vertically in the middle of the parent */
    justify-items: center;
    width: 100%;
    padding: 5px;
    /*
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10px 10px 5px;
    justify-content: flex-start;
    gap: 4px;
    width: 100%;*/
  }

  body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    font-family: Arial, sans-serif;
  }

  th {
    display: none;
  }

  #prev-month-btn {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0 16px;
  }

  #next-month-btn {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0 16px;
  }

  .calendar-table {
    width: 100%;
    border-collapse: collapse;
    flex: 1;
    display: inline-table;
  }

  .popup {
    width: 80%;
    max-width: 300px;
    position: absolute;
    z-index: 1;
  }

  #select-btn {
    width: 100%;
  }

  li:hover {
    background: #c2c2c2;
  }

  .selected-tag {
    background-color: #f8a024;
    font-weight: bold;
  }
}
